.main {
    width: 250px;
    margin-left: 50%;
  }
  
  .has-search .form-control {
    padding-left: 2.375rem;
    background-color: #313131;
    color: #ffffff;
    border-color: #525252;
  }
  .has-search .form-control:focus {
    outline-color: none;
    box-shadow: none;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    border-color: transparent;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  