.navbar-custom {
  background-color: #151515;
  height: 78px;
  margin-top: 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.d-flex {
  margin: 0 auto;
}

#icon-search {
  min-width: 40px;
  position: absolute;
  padding: 10px;
  margin-left: -45px;
  color: #616060;
}

#icon-search:hover {
  cursor: pointer;
}

#input-search {
  background-color: #333232;
  border: transparent;
  color: white;
  width: 250px;
  border-radius: 20px;
}

.dropdownButtonNav {
  background-color: #151515;
}

.dropdownButtonNav:hover {
  background-color: #151515;
}

.dropdownButtonNav[type = "button"] {
  color: white;
}

.imgProfileNav {
  width: 50px;
  height: 50px;
  border-radius: 200%;
  border-left: 10px;
}

.dropDownProfileUser{
  margin-left: -20px;
}

.listDropdownNav{
  background-color: #151515;
  color: white
}

.listDropdownNav:hover{
  background-color: #151515;
  color: white;
  opacity: 0.6;
}

