.navbar-custom {
  background-color: #151515;
  height: 78px;
  margin-top: 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.d-flex {
  margin: 0 auto;
}

#icon-search {
  min-width: 40px;
  position: absolute;
  padding: 10px;
  margin-left: -45px;
  color: #616060;
}

#icon-search:hover {
  cursor: pointer;
}

#input-search {
  background-color:#333232;
  border: transparent;
  color: white;
  width: 250px;
  border-radius: 20px;
}
