.container-main{
    display: flex;
    position:relative;
    justify-content: center;
    width: 375px;
    height: 500px;
    margin: 0 auto;
  
}

.form-div{
    height: 550px;
    width: 400px;
}

.button{
    margin-left: 25%;
    width: 50%;
    margin-top: 10px;
}