.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #181818;
  color: #fff;
  z-index: 11 !important;
}

.content-container {
  padding-top: 20px;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  z-index: 11 !important;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li::before {
  background-color: #627D9B;
  position: absolute;
  content: "";
  height: 100%;
  left: -4px;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
  text-decoration: none;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
  z-index: 9999 !important;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}

.nav-dropdown {
  color: rgba(139, 56, 56, 0.24);
  font-weight: bold;
  margin-left: 17px;
}

.nav-dropdown-list {
  opacity: 0.9;
  background-color: #102A43;
}

.dropdown-basic {
  color: white;
}

.dropdown-basic:hover {
  color: white;
}

/* esto es para quitarle una linea azul que le salía al boton toggle cuando le daba click */
.dropdown-basic:focus {
  outline: none;
  box-shadow: none;
}

.list-categories::before {
  background-color: transparent !important;
  color: white;
  margin-right: 20px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-size: 12px;
  background: #282c34;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
  font-weight: 100px;
}

.lineBox-h1 {
  display: block;
  width: 65%;
  margin-left: 180px;
}

.catalogueParent-h1 {
  display: none;
}

.lineParent-h1 {
  display: none;
}

.listCategories::before{
  background-color: transparent !important;
 
}

.listCategories{
  padding-right: 20px;
  margin-left: -20px;
}

/* .listDropdownSideAdmin{
  background-color: #151515;
  color: white;
  line-height:40px;
  margin-left: -10px;
}

.listDropdownSideAdmin:hover{
  background-color: white;
  color: #151515;
  opacity: 0.9;
} */