#increase-btn{
    background-color: #443737;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#decrease-btn{
    background-color: #443737;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
